php/
data/
old/
data/2352342_exp1.csv
data/2352342_exp2.csv
data/2352342_kappa.csv
data/2352342_params_exp2.json
data/2352342_params_exp2_z.csv
data/2352342_surveys.json
data/abc_exp1.csv
data/abc_kappa.csv
data/abc_params_exp2.json
data/abc_params_exp2_z.csv
data/janine123_exp1.csv
data/janine123_exp2.csv
data/janine123_kappa.csv
data/janine123_params_exp2.json
data/janine123_params_exp2_z.csv
data/janine123_surveys.json
data/juli1106_exp1.csv
data/juli1106_exp2.csv
data/juli1106_kappa.csv
data/juli1106_params_exp2.json
data/juli1106_params_exp2_z.csv
data/juli1106_surveys.json
data/mathieu0806_exp1.csv
data/mathieu0806_kappa.csv
data/mathieu0806_params_exp2.json
data/mathieu0806_params_exp2_z.csv
data/mathieu0806_surveys.json
data/mathieu0906_exp1.csv
data/mathieu0906_exp2.csv
data/mathieu0906_kappa.csv
data/mathieu0906_params_exp2.json
data/mathieu0906_params_exp2_z.csv
data/mathieu0906_surveys.json
data/mathieu20906_exp1.csv
data/mathieu20906_kappa.csv
data/mathieu20906_params_exp2.json
data/mathieu20906_params_exp2_z.csv
data/mathieu24062_demographics.json
data/mathieu24062_exp1.csv
data/mathieu24062_kappa.csv
data/mathieu24062_params_exp2.json
data/mathieu24062_params_exp2_z.csv
data/mathieu24062_surveys.json
data/mathieu2406_demographics.json
data/mathieu2406_exp1.csv
data/Simon09062_exp1.csv
data/Simon0906_exp1.csv
data/Simon0906_exp2.csv
data/Simon0906_exp2.txt
data/Simon0906_kappa.csv
data/Simon0906_params_exp2.json
data/Simon0906_params_exp2_z.csv
data/Simon0906_surveys.json
data/test123_exp1.csv
data/test123_kappa.csv
data/test123_params_exp2.json
data/test123_params_exp2_z.csv
