/* set relative height for content window */
html, body, .container
{
    height: 100%;
}

*, *:before, *:after {
	box-sizing: border-box;
  }

/*background image: always cover up browser window*/
html{
	background: url(logos/moneyplant.jpg) no-repeat center fixed;
	background-size: cover;
  }

body{
	color:#555555;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	line-height:1.6em;
	margin:0;
}


.container{
	height: 100%;
	width:80%;
	padding: 20px;
	max-width: 800px;
	margin:auto;
}

.content{
	/* background: semi-transparent for background image */
	background-color: rgba(235, 235, 235, 0.9);
	display: block;
	/* scrollbar inside window */
	height:95%;
	overflow: auto;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
	margin-bottom:15px;
}

.header{
	display: table-cell;
	padding: 20px 10px 20px;
	width: 49.99%;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
	line-height: 1.4em;
}

.logo{
	max-width: 100%;
}

.info{
	display:none;
	padding: 20px;
}

.btn-box{
	width:100%;
	margin: 15px auto;
	text-align: center;
}

button:enabled{
	width: 100px;
	height:40px;
	margin: 0 10 px;
	border-radius: 20px;
	background: #1c4966;
	/*background: #e21c1c;*/
	border:0;
	outline: none;
	color: #fff;
	cursor: pointer;
}

/*button:disabled{
	background:#CCC;
}*/

#message {
	text-align: center;
	display: none;
	margin: 10px 0;
	padding: 10px;
	border-radius: 3px 3px 3px 3px;
	color: #D8000C;
	background-color: #FFBABA;
  }

#prolific_id{
	padding:10px;
	margin: 10px;
	border-radius:10px;
	border: 1px solid;
}

/* Make circles that indicate the steps of the form: */
.stepcircles {
	text-align:center;
	margin-top:20px;
	margin-bottom:40px;
}

.step {
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #bbbbbb;
	border: none;
	border-radius: 50%;
	display: inline-block;
	opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
	opacity: 1;
	background-color:#1c4966;
  }

.questions{
	padding-left: 30px;
}

.survey{
	/* background: semi-transparent for background image */
	background-color: rgba(235, 235, 235, 0.9);
	display: block;
	/* scrollbar inside window */
	height:90%;
	overflow: auto;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
	margin-bottom:15px;
}

#BIS{
	display: none;
}

#dospert{
	display: none;
}

.surveyInfo{
	padding-bottom:15px;
}

.form-group{
	padding-bottom: 20px;
}

.survey .form-table{
    display:table;
    width:100%;
    margin-left: auto;
	margin-right: auto;
	padding-bottom:15px;
}

.tableRow{ 
	display: table-row;
}

.survey .tableQuestion{
    display: table-cell;
	padding: 3px 10px;
	border: 1px solid #999999;
	min-width: 194px;
	max-width: 194px;
}
.survey .tableCell{
    display: table-cell;
	padding: 3px 10px;
	border: 1px solid #999999;
	min-width: 98px;
	max-width: 98px;
	text-align: center;
	vertical-align: middle;
	font-size: 12px;
}

.survey .tableRow:nth-child(odd) {background: #CCC}

.survey .tableRow:nth-child(1) {
	background: #666;
	color: #fff;
}

.formOptions{
    position: relative;
    left:20px;
}

#prolific{
	text-align:center;
}

#debrief{
	background-color: rgba(235, 235, 235, 0.9);
	display: none;
	/* scrollbar inside window */
	height:90%;
	overflow: auto;
	margin: 0 auto;
	padding: 1em;
	border: 1px solid #CCC;
	border-radius: 1em;
	margin-bottom:15px;
}